{{#if error}}
    {{> error}}
{{/if}}
{{#unless error}}
    {{#if this.length}}
        <table class="table table-bordered table-hover table-sm align-middle">
            <thead class="table-light">
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>Balance</th>
                <th>Decimals</th>
                <th>Contract</th>
                <th>Etherscan</th>
            </tr>
            </thead>
            <tbody>
            {{#each this}}
                <tr>
                    <td>
                        {{#if logo}}
                            <img src="{{logo}}" alt="{{symbol}}" style="width: 24px; height: 24px;">
                        {{else}}
                            <span class="text-muted">N/A</span>
                        {{/if}}
                    </td>
                    <td>{{#if name}}{{name}}{{else}}<span class="text-muted">N/A</span>{{/if}}</td>
                    <td>{{#if symbol}}{{symbol}}{{else}}<span class="text-muted">N/A</span>{{/if}}</td>
                    <td>{{balance}}</td>
                    <td>{{decimals}}</td>
                    <td><code>{{contractAddress}}</code></td>
                    <td class="align-content-center"><a href="https://etherscan.io/address/{{contractAddress}}" target="_blank"
                           class="btn btn-sm btn-outline-primary">View</a></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <div class="alert alert-info d-flex flex-column align-items-center text-center" role="alert">
            <strong>No Nfts to display</strong>
        </div>
    {{/if}}
{{/unless}}